@import url('https://fonts.googleapis.com/css2?family=Clarity+City:ital,wght@0,100..900;1,100..900&display=swap');

.logo:hover{
    color: #141414;
    letter-spacing: 7px;
    animation: acender 0.5s forwards;
}

@keyframes acender{
    to{
        color: #fff;
        text-shadow: 0 0 10px #2600ff, 0 0 20px #00fff2;
    }
}

.titulo{
    background-image: linear-gradient(to right,#00ffff,#430050);
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    
}

.titulo:hover{
    animation: acender 0.5s forwards;
}